<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>热播推荐</string>
		<key>icon</key>
		<string>rebo</string>
		<key>channelId</key>
		<string>225</string>
	</dict>
	<dict>
		<key>title</key>
		<string>新闻</string>
		<key>icon</key>
		<string>xinwen</string>
		<key>channelId</key>
		<string>226</string>
	</dict>
	<dict>
		<key>title</key>
		<string>音乐</string>
		<key>icon</key>
		<string>yinyue</string>
		<key>channelId</key>
		<string>227</string>
	</dict>
	<dict>
		<key>title</key>
		<string>网络</string>
		<key>icon</key>
		<string>wangluo</string>
		<key>channelId</key>
		<string>100</string>
	</dict>
	<dict>
		<key>title</key>
		<string>交通</string>
		<key>icon</key>
		<string>jiaotong</string>
		<key>channelId</key>
		<string>230</string>
	</dict>
	<dict>
		<key>title</key>
		<string>体育</string>
		<key>icon</key>
		<string>tiyu</string>
		<key>channelId</key>
		<string>231</string>
	</dict>
	<dict>
		<key>title</key>
		<string>经济</string>
		<key>icon</key>
		<string>jingji</string>
		<key>channelId</key>
		<string>228</string>
	</dict>
	<dict>
		<key>title</key>
		<string>综合</string>
		<key>icon</key>
		<string>zonghe</string>
		<key>channelId</key>
		<string>229</string>
	</dict>
	<dict>
		<key>title</key>
		<string>都市</string>
		<key>icon</key>
		<string>doushi</string>
		<key>channelId</key>
		<string>232</string>
	</dict>
	<dict>
		<key>title</key>
		<string>生活</string>
		<key>icon</key>
		<string>shenghuo</string>
		<key>channelId</key>
		<string>233</string>
	</dict>
	<dict>
		<key>title</key>
		<string>旅游</string>
		<key>icon</key>
		<string>lvyou</string>
		<key>channelId</key>
		<string>235</string>
	</dict>
	<dict>
		<key>title</key>
		<string>文艺</string>
		<key>icon</key>
		<string>wenyi</string>
		<key>channelId</key>
		<string>234</string>
	</dict>
	<dict>
		<key>title</key>
		<string>曲艺</string>
		<key>icon</key>
		<string>quyi</string>
		<key>channelId</key>
		<string>236</string>
	</dict>
	<dict>
		<key>title</key>
		<string>方言</string>
		<key>icon</key>
		<string>fangyan</string>
		<key>channelId</key>
		<string>238</string>
	</dict>
</array>
</plist>
