<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>文学名著</string>
		<key>lableId</key>
		<string>9</string>
	</dict>
	<dict>
		<key>title</key>
		<string>推理悬疑</string>
		<key>lableId</key>
		<string>8</string>
	</dict>
	<dict>
		<key>title</key>
		<string>仙侠武侠</string>
		<key>lableId</key>
		<string>10</string>
	</dict>
	<dict>
		<key>title</key>
		<string>玄幻奇幻</string>
		<key>lableId</key>
		<string>7</string>
	</dict>
	<dict>
		<key>title</key>
		<string>恐怖灵异</string>
		<key>lableId</key>
		<string>6</string>
	</dict>
	<dict>
		<key>title</key>
		<string>科幻冒险</string>
		<key>lableId</key>
		<string>140</string>
	</dict>
	<dict>
		<key>title</key>
		<string>商战职场</string>
		<key>lableId</key>
		<string>14</string>
	</dict>
	<dict>
		<key>title</key>
		<string>言情浪漫</string>
		<key>lableId</key>
		<string>137</string>
	</dict>
	<dict>
		<key>title</key>
		<string>游戏竞技</string>
		<key>lableId</key>
		<string>103</string>
	</dict>
	<dict>
		<key>title</key>
		<string>历史军事</string>
		<key>lableId</key>
		<string>11</string>
	</dict>
	<dict>
		<key>title</key>
		<string>人物传记</string>
		<key>lableId</key>
		<string>141</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宫廷小说</string>
		<key>lableId</key>
		<string>105</string>
	</dict>
</array>
</plist>
